*.mod
*.o
*.out
*_exe
time_concs.txt
*.dbg
a.err
dolomite_chem.in
myrun*
myrun.log.txt
*.bth
*.cnf
*.con
*.int
*.mdt
*.mom
*.mon
*.monm
*.prt
compile.log
rwhet_exe.dSYM/
*.idea
*.DS_Store
RRWHET/rw_dolomite/MODFLOW/dolomite_vgrid/
*.part
*.pdf
*~
